{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{ title }}</h3>

<ul class="collection">
    {% for post in posts %}
        <a href="/posts/details/{{post.id}}">
            <li class="collection-item">{{post.title}}</li>
        </a>
    {% endfor %}
</ul>

{% endblock %}