<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoBlog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
    <header class="container center-align">
        <h1>DjangoBlog</h1>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
        <br>

        <a style="display: block;" href="/admin" class="center-align">Admin</a>
    </div>
</body>
</html>